{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
{% endblock 'head' %}

{% block 'title' %}
    Cadastrar Médico
{% endblock 'title' %}

{% block 'body' %}

    <div class="container">

        <br>
        <br>
        <div class="row">

            <div class="col-md-8">

                <h2>Olá, <span class="color-dark">{{request.user.username}}</span></h2>
                <h2>Vamos realizar seu cadastro médico legal.</h2>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <form action="#" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md">
                            <label>CRM:</label>
                            <input type="text" class="form-control shadow-main-color" name="crm" placeholder="CRM...">
                        </div>
                        <div class="col-md">
                            <label>Cédula de identidade médica:</label>
                            <input type="file" class="form-control shadow-main-color" name="cim">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label>Nome completo:</label>
                            <input type="text" class="form-control shadow-main-color" name="nome" placeholder="Digite seu nome...">
                        </div>
                        <div class="col-md">
                            <label>CEP:</label>
                            <input type="text" class="form-control shadow-main-color" name="cep" placeholder="CEP...">
                        </div>
                    </div>
                    <br>

                    <label>Rua:</label>
                    <input type="text" class="form-control shadow-main-color" name="rua" placeholder="Endereço...">
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label>Bairro:</label>
                            <input type="text" class="form-control shadow-main-color" name="bairro" placeholder="Bairro">
                        </div>
                        <div class="col-md">
                            <label>Número:</label>
                            <input type="number" class="form-control shadow-main-color" name="numero" placeholder="Número">
                        </div>
                    </div>
                    <br>

                    <label>RG:</label>
                    <input type="file" class="form-control shadow-main-color" name="rg">
                    <br>

                    <label>Foto de perfil:</label>
                    <input type="file" class="form-control shadow-main-color" name="foto">
                    <br>

                    <label>Especialidade:</label>
                    <select name="especialidade" class="form-control">
                        
                        {% for especialidade in especialidades %}
                            <option value="{{especialidade.id}}">{{especialidade}}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label>Descrição:</label>
                    <textarea name="descricao" class="form-control shadow-main-color"></textarea>
                    <br>

                    <label>Valor da consulta:</label>
                    <input type="number" name="valor_consulta" class="form-control shadow-main-color">
                    <br>

                    <input type="submit" value="Cadastre-se" class="btn btn-success btn-dark-color">

                </form>

            </div>

            <div class="col-md-4"></div>

        </div>

    </div>

{% endblock 'body' %}